/* Set the background image */
body {
  background-image: url("background/neuron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  margin-top: -30px;
}
 /* Style the header */
.header {
  font-family: 'domine', 'serif';
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: #1155e6;
  text-shadow: white 0px 2px 5px;
}
 /* Style the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 10px;
  padding-top: 50px;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}
 /* Style the grid cells */
.grid-cell {
  background-color: rgb(211, 205, 205);
  padding: 10px;
  width: calc(80% - 20px);
  height: calc(100% - 20px);
  border: 3px solid rgb(28, 28, 231);
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
 /* Flip the grid cell */
.grid-cell.flip {
  transform: rotateY(180deg);
}
 /* Style the image inside the grid cell */
.grid-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
 /* Style the front and back of the grid cell */
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  transition: transform 0.5s;
}
 /* Flip the front and back of the grid cell */
.front {
  transform: rotateY(0deg);
}
 .back {
  transform: rotateY(180deg);
  object-fit: cover;
}
 /* Style the start and reset buttons */
.start-button,
.reset-button {
  font-family: 'domine', 'serif';
  display: inline-block;
  padding: 12px 36px;
  background-color: #1155e6;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 30px;
  box-shadow: white 2px 2px 5px;
  transform: scale(1.0);
}
 /* Style the start button */
.start-button {
  margin-right: 10px;
}
 /* Style the reset button */
.reset-button {
  margin-left: 10px;
}
 /* Style the timer and score board */
.timer,
#timer,
.score-board,
#highscore {
  font-family: 'domine', 'serif';
  border-radius: 10px 100px / 120px;
  background-color: #1155e6;
  font-size: 24px;
  color: white;
  animation: pulsing-glow 1s infinite;
}
 /* Position the timer and score board */
.timer {
  position: absolute;
  top: calc(21% - 70px);
  right: calc(75% - -30px);
}
 .score-board {
  position: absolute;
  top: calc(21% - 70px);
  right: 16%;
}
 /* Position the start and reset buttons */
.start-button {
  position: absolute;
  top: calc(21% - 80px);
  left: calc(40% - 75px);
  animation: pulsing-glow 1s infinite;
}
 .reset-button {
  position: absolute;
  top: calc(21% - 80px);
  left: calc(52% - 15px);
  animation: pulsing-glow 1s infinite;
}
 /* Style for smaller screens */
@media (max-width: 768px) {
  .grid-cell img {
    width: 50%;
    height: auto;
  }
   /* Position elements for smaller screens */
  .header,
  .start-button,
  .reset-button,
  .timer,
  .score-board {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 10%;
  }
}
 /* Animation for pulsing glow effect */
@keyframes pulsing-glow {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
  }
}
 /* Style for elements with pulsing glow effect */
.pulsing-glow-text {
  animation: pulsing-glow 2s infinite;
}